"""
* @Author: Samarth BM.
* @Date: 2021-09-27 15:40
* @Last Modified by: Samarth BM
* @Last Modified time: 2021-09-27 15:40
* @Title: To insert a new column in existing DataFrame.
"""

In [5]:
import pandas as pd
import numpy as np
from LogHandler import logger

try:

    exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    data_frame = pd.DataFrame(exam_data , index=labels)
    print(data_frame,"\n")

    data_frame.insert(1, "gender", ['female', 'female', 'female', 'male', 'female', 'male', 'male', 'female','male', 'male'], True)
    print("\nAfter adding gender column:\n",data_frame)
except Exception as e:
    logger.error(e)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


After adding gender column:
         name  gender  score  attempts qualify
a  Anastasia  female   12.5         1     yes
b       Dima  female    9.0         3      no
c  Katherine  female   16.5         2     yes
d      James    male    NaN         3      no
e      Emily  female    9.0         2      no
f    Michael    male   20.0         3     yes
g    Matthew    male   14.5         1     yes
h      Laura  female    NaN         1      no
i      Kevin    male    8.0         2      no
j      Jonas    male   19.0         1     yes